<section class="to-year-select">
  <form [formGroup]="yearsToSelectForm">
    <div class="form-group">
      <label (click)="focusSelect()">To:</label>
      <ng-select
        #toSelect
        formControlName="toYear"
        [placeholder]="placeholderTo"
        (change)="onToYearChange($event)"
        (clear)="onClearSelect()">
        @for (year of yearsTo; track year) {
          <ng-option [value]="year">{{ year }}</ng-option>
        }
      </ng-select>
    </div>
  </form>
</section>
