.home-trending {
  .trending {
    border: 1px solid white;
    margin-top: 15vh;
    color: white;
    .trending-header {
      padding: 1rem;
      .trend-up-icon {
        color: yellow;
      }
    }
    .trending-main {
      .slide-image {
        .carousel-slide {
          width: 100%;
          height: 65vh;
          background-size: cover;
          background-position: center;
        }
      }
    }
  }
}
