.home-trending {
  .trending {
    margin-top: 15vh;
    background-color: black;
    color: white;
    .trending-header {
      padding: 1rem;
    }
    .trending-main {
      .slide-image {
        .carousel-slide {
          width: 100%;
          height: 65vh;
          background-size: cover;
          background-position: center;
        }
      }
    }
  }
}
