
<section class="home-section home-trending">
  <section class="trending bg-dark">
    <header class="trending-header">
      <h2>
        <fa-layers>
          <fa-icon [icon]="filmIcon" class="film-icon"></fa-icon>
          <fa-icon [icon]="trendUpIcon" class="trend-up-icon" transform="shrink-7 down-7 right-7"></fa-icon>
        </fa-layers>
        Trending Movies
      </h2>
    </header>
    <main class="trending-main">
      <ngb-carousel>
        @for (movie of movieResults; track $index) {
          <ng-template ngbSlide>
            <div class="slide-image">
              <a [routerLink]="['movie', movie.id]">
                <div
                  class="carousel-slide"
                  [ngStyle]="{ 'background-image': 'url(' + movie.backdrop_path + ')' }"
                ></div>
              </a>
            </div>
            <div class="carousel-caption">
              <h3>
                @if (movie.title == movie.original_title) {
                  {{ movie.title }}
                } @else {
                  {{ movie.title }} <small>({{movie.original_title}})</small>
                }
              </h3>
            </div>
          </ng-template>
        }
      </ngb-carousel>
    </main>
  </section>
</section>
