<section class="person-movie-credits-cast">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-lg-6">
          <app-display-selector (onDisplayChange)="changeDisplay($event)">
          </app-display-selector>
        </div>
        <div class="col-12 col-lg-6">
          <app-order-select [orderCriterias]="orderCriterias"
                              (onOrderCriteriaChange)="orderCriteriaChange($event)">
          </app-order-select>
        </div>
      </div>
      <section class="cast-credits">
        <p #starringParagraph>
          <strong>{{ currentPerson.name }}</strong> has starred in the following movies:
        </p>
        <ng-container *ngIf="displayMode == 'grid'">
          <section class="cast-credits-display-grid">
            <div class="row" #castCreditsList>
              <ng-container *ngFor="let castRole of filterCastCredits | paginate : { itemsPerPage: 20, currentPage: page }">
                <div class="col-12 col-lg-3">
                  <app-person-cast-credit-grid [castRole]="castRole">
                  </app-person-cast-credit-grid>
                </div>
              </ng-container>
            </div>
          </section>
        </ng-container>
        <ng-container *ngIf="displayMode == 'list'">
          <section class="cast-credits-display-list">
            <ng-container *ngFor="let castRole of filterCastCredits | paginate : { itemsPerPage: 20, currentPage: page }">
              <app-person-cast-credit-list [castRole]="castRole"></app-person-cast-credit-list>
            </ng-container>
          </section>
        </ng-container>
        <section class="cast-credits-pagination">
          <div class="d-flex align-items-center">
            <pagination-controls (pageChange)="changePage($event)">
            </pagination-controls>
          </div>
        </section>
      </section>
    </div>
  </div>
</section>
