<section class="person-movie-credits-crew">
  <div class="row">
    <div class="col-12">
      <section class="person-crew-credits-controls">
        <div class="row">
          <div class="col-12 col-lg-6">
            <app-display-selector (onDisplayChange)="changeDisplay($event)"></app-display-selector>
          </div>
          <div class="col-12 col-lg-6">
            <app-order-select
              #orderSelectPersonCrewCredits
              [orderCriterias]="orderCriterias"
              [defaultOrderCriteria]="defaultOrder"
              (onOrderCriteriaChange)="orderCriteriaChange($event)"
              (onClearOrderCriteria)="clearOrderCriteria($event)"
              >
            </app-order-select>
          </div>
          <div class="col-12 col-lg-6">
            <app-role-select
              #roleSelect
              [roles]="roles"
              (onRoleSelectChange)="defineSelectedRoles($event)"
              (onClearRoleSelect)="clearRoleSelect($event)">
            </app-role-select>
          </div>
          <div class="col-6 col-lg-3">
            <app-from-select
              #fromSelect
              [yearsFrom]="yearsFrom"
              (onSelectFromYear)="setYearFrom($event)"
              (onClearSelectFromYear)="clearSelectYearFrom($event)"
              >
            </app-from-select>
          </div>
          <div class="col-6 col-lg-3">
            <app-to-select
              #toSelect
              [yearsTo]="yearsTo"
              (onSelectToYear)="setYearTo($event)"
              (onClearSelectToYear)="clearSelectYearTo($event)"
              >
            </app-to-select>
          </div>
        </div>
        <div class="d-flex flex-column flex-lg-row justify-content-lg-between">
          <button class="btn btn-primary mb-3" (click)="filterCredits()">
            <fa-icon [icon]="filterIcon" [fixedWidth]="true"></fa-icon>
            Filter
          </button>
          <button class="btn btn-danger mb-3" (click)="resetFiltersByDefault()">
            <fa-icon [icon]="arrowRotateLeftIcon" [fixedWidth]="true"></fa-icon>
            Reset filters to default
          </button>
        </div>
      </section>
      <hr #crewParagraph />
      <section class="crew-credits">
        @if (filterCrewCredits.length > 0) {
          @if (displayMode == 'grid') {
            <section class="crew-credits-display-grid">
              <div class="row" #crewCreditsGrid>
                @for (
                  crewRole of filterCrewCredits
                  | paginate: { itemsPerPage: 20, currentPage: page }
                  ; track
                  crewRole) {
                  <div class="col-12 col-sm-4 col-lg-2">
                    <app-person-crew-credit-grid
                      [crewRole]="crewRole"
                    ></app-person-crew-credit-grid>
                  </div>
                }
              </div>
            </section>
          }
          @if (displayMode == 'list') {
            <section class="crew-credits-display-list">
              @for (
                crewRole of filterCrewCredits
                | paginate: { itemsPerPage: 20, currentPage: page }
                ; track
                crewRole) {
                <app-person-crew-credit-list [crewRole]="crewRole"></app-person-crew-credit-list>
              }
            </section>
          }
        } @else {
          <p>No results were obtained by the applied filters.</p>
        }
      </section>
      <section class="crew-credits-pagination">
        <div class="d-flex justify-content-center">
          <pagination-controls (pageChange)="changePage($event)"></pagination-controls>
        </div>
      </section>
    </div>
  </div>
</section>
