<section class="person-cast-credits">
  @if (loadingPersonMovieCredits) {
    <app-loading-inline message="Loading movie credits for this person..."></app-loading-inline>
  }
  @if (!loadingPersonMovieCredits) {
    @if (personMovieCreditsError) {
      <app-person-error [errorMessage]="errorMessage" (reload)="reloadMovieCredits($event)">
      </app-person-error>
    }
    @if (!personMovieCreditsError) {
      @if (personMovieCredits.cast.length === 0) {
        <p>This person has no acting roles in movies</p>
      }
      @if (personMovieCredits.cast.length > 0) {
        <app-person-movie-credits-cast [castCredits]="personMovieCredits.cast">
        </app-person-movie-credits-cast>
      }
    }
  }
</section>
