<section class="movie">
  @if (movieErrorFound) {
    @if (movieNotFound) {
      <app-movie-not-found></app-movie-not-found>
    }
    @if (!movieNotFound) {
      <app-movie-error-fullscreen [errorMessage]="errorMessage" (reload)="reloadMovie($event)">
      </app-movie-error-fullscreen>
    }
  }
  @if (!movieErrorFound) {
    @if (movie) {
      <div class="navbar-cover"></div>
      <app-movie-header [id]="id" [movie]="movie" #movieHeader> </app-movie-header>
      <main>
        <app-movie-nav></app-movie-nav>
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 col-lg-2">
              <aside class="aside-1">
                <img [src]="posterSizeSmall" [alt]="altPosterText" class="w-100" />
                @if (movie.poster_path) {
                  <div class="d-grid">
                    <a
                      [href]="posterSizeOriginal"
                      target="_blank"
                      class="btn btn-outline-primary btn-poster mb-2"
                    >
                      <fa-icon [icon]="imagePortrait"></fa-icon>
                      Open Poster in New Tab
                    </a>
                  </div>
                }
              </aside>
            </div>
            <div class="col-12 col-lg-10">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </main>
    }
  }
</section>
