<section class="search-input-movie">
  <form
    class="d-flex"
    role="search"
    [formGroup]="searchMovieForm"
    (ngSubmit)="processMovieSearch()"
  >
    <div ngbDropdown #myDrop="ngbDropdown" class="d-inline-block">
      <div class="input-group">
        <input
          #searchMovieInput
          class="form-control"
          type="search"
          (input)="toggleMovieSearchDropdown()"
          [placeholder]="placeholder"
          [aria-label]="ariaLabel"
          formControlName="movieSearch"
        />
        <!--  -->
        <button class="btn border text-light btn-search" type="submit">
          <fa-icon [icon]="searchIcon" [fixedWidth]="true"></fa-icon>
        </button>
      </div>
      <div ngbDropdownMenu class="dropdown-menu dropdown-search-movie dropdown-menu-end">
        @if (loadingSearchMovie) {
          <a ngbDropdownItem aria-disabled="true">
            Loading
          </a>
        }
        @for (movie of movieResults; track movie.id) {
          <app-search-input-movie-result
            [movieResult]="movie"
            (clickResult)="goToMovieClose($event)">

          </app-search-input-movie-result>
        }
      </div>
    </div>
  </form>
</section>
