<section class="search-input search-input-movie">
  <form class="d-flex" role="search" (ngSubmit)="processMovieSearch()">
    <div ngbDropdown #movieSearchDropdown="ngbDropdown" class="d-inline-block">
      <div class="input-group">
        <input
          #searchMovieInput
          class="input-movie form-control"
          type="search"
          (search)="toggleMovieSearchDropdownBySearch()"
          (focus)="toggleMovieSearchDropdownByFocus()"
          [placeholder]="placeholder"
          [aria-label]="ariaLabel"
          [formControl]="movieInput"
        />
        <button class="btn border text-light" type="submit">
          <fa-icon [icon]="searchIcon" [fixedWidth]="true"></fa-icon>
        </button>
      </div>
      <div ngbDropdownMenu class="dropdown-menu dropdown-search-movie dropdown-menu-end">
        @if (movieResults.length > 0) {
          @for (movie of movieResults; track movie.id) {
            <app-search-input-movie-result
              [movieResult]="movie"
              (clickResult)="goToMovieClose($event)"
            >
            </app-search-input-movie-result>
          }
        }
        @if (originalMovieResults.length > 5) {
          <div class="dropdown-divider"></div>
          <a ngbDropdownItem class="view-all-results" (click)="processMovieSearch()">
            <fa-icon [icon]="resultsIcon" [fixedWidth]="true"></fa-icon>
            View all results
          </a>
        }
        @if (movieResults.length == 0) {
          <a ngbDropdownItem class="no-results-obtained">No results obtained</a>
        }
      </div>
    </div>
  </form>
</section>
