<section class="search-input-movie">
  <form
    class="d-flex"
    role="search"
    [formGroup]="searchMovieForm"
    (ngSubmit)="processMovieSearch()"
  >
    <div ngbDropdown #myDrop="ngbDropdown" class="d-inline-block">
      <div class="input-group">
        <input
          #searchMovieInput
          class="form-control"
          type="search"
          (input)="toggleMovieSearchDropdownByInput()"
          (click)="toggleMovieSearchDropdownByClick()"
          (search)="toggleMovieSearchDropdownBySearch()"
          [placeholder]="placeholder"
          [aria-label]="ariaLabel"
          formControlName="movieSearch"
        />
        <button class="btn border text-light btn-search" type="submit">
          <fa-icon [icon]="searchIcon" [fixedWidth]="true"></fa-icon>
        </button>
      </div>
      <div ngbDropdownMenu class="dropdown-menu dropdown-search-movie dropdown-menu-end">
        @if (loadingSearchMovie) {
          <a ngbDropdownItem aria-disabled="true">
            <fa-icon
              [icon]="loadingIcon"
              [animation]="'spin'"
              [fixedWidth]="true"></fa-icon>
            Loading...
          </a>
        }
        @if (movieResults.length > 0) {
          @for (movie of movieResults; track movie.id) {
            <app-search-input-movie-result
              [movieResult]="movie"
              (clickResult)="goToMovieClose($event)"
            >
            </app-search-input-movie-result>
          }
        }
        @if (!loadingSearchMovie && originalMovieResults.length > 5) {
          <div class="dropdown-divider"></div>
          <a ngbDropdownItem
            class="view-all-results"
            (click)="processMovieSearch()">
            <fa-icon [icon]="resultsIcon" [fixedWidth]="true"></fa-icon>
            View all results
          </a>
        }
        @if (!loadingSearchMovie && movieResults.length == 0) {
          <a ngbDropdownItem class="no-results-obtained">
            No results obtained
          </a>
        }
      </div>
    </div>
  </form>
</section>
