<section class="person">
  @if (personErrorFound) {
    @if (personNotFound) {
      <app-person-not-found></app-person-not-found>
    }
    @if (!personNotFound) {
      <app-person-error-fullscreen [errorMessage]="errorMessage" (reload)="reloadPerson($event)">
      </app-person-error-fullscreen>
    }
  }
  @if (!personErrorFound) {
    @if (person) {
      <app-person-header [id]="id" [person]="person" #personHeader> </app-person-header>
      <app-person-nav></app-person-nav>
      <main>
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </main>
    }
  }
</section>
