<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <fa-icon [icon]="filmIcon" [fixedWidth]="true"></fa-icon>
      Find a Movie
    </a>
    <div class="ml-auto">
      <div ngbDropdown class="search-dropdown d-flex">
        <button
          type="button"
          class="btn border text-light btn-select-search-type"
          id="selectSearchType"
          ngbDropdownToggle
        >
          @if (searchType == 'movie') {
            <fa-icon [icon]="filmIcon" [fixedWidth]="true"></fa-icon> Movie
          }
          @if (searchType == 'person') {
            <fa-icon [icon]="userIcon" [fixedWidth]="true"></fa-icon> Person
          }
        </button>
        <div ngbDropdownMenu aria-labelledby="selectSearchType">
          <button ngbDropdownItem (click)="selectSearchType('movie')">
            <fa-icon [icon]="filmIcon" [fixedWidth]="true"></fa-icon>
            Movie
          </button>
          <button ngbDropdownItem (click)="selectSearchType('person')">
            <fa-icon [icon]="userIcon" [fixedWidth]="true"></fa-icon>
            Person
          </button>
        </div>
        @if (searchType == 'movie') {
          <app-search-input-movie></app-search-input-movie>
        }
        @if (searchType == 'person') {
          <app-search-person></app-search-person>
        }
      </div>
    </div>
  </div>
</nav>
