nav {
  &.navbar {
    .navbar-brand, .search-dropdown {
      font-family: 'Oswald', 'Arial', sans-serif;
    }

    .search-dropdown {
      @media screen and (max-width: 767px) {

      }

      @media screen and (min-width: 768px) {
      }

      .btn-select-search-type {
        border-radius: 0.375rem 0 0 0.375rem;
      }
    }

    .btn-search {
      margin-right: 3rem;
    }
  }
}
