<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <fa-icon [icon]="filmIcon" [fixedWidth]="true"></fa-icon>
      Find a Movie
    </a>
    <div class="ml-auto">
      <div ngbDropdown class="search-dropdown d-flex">
        <button
          type="button"
          class="btn border text-light me-2"
          id="selectSearchType"
          ngbDropdownToggle
        >
          <ng-container *ngIf="searchType == 'movie'">
            <fa-icon [icon]="filmIcon" [fixedWidth]="true"></fa-icon> Movie
          </ng-container>
          <ng-container *ngIf="searchType == 'people'">
            <fa-icon [icon]="userIcon" [fixedWidth]="true"></fa-icon> People
          </ng-container>
        </button>
        <div ngbDropdownMenu aria-labelledby="selectSearchType">
          <button ngbDropdownItem (click)="selectSearchType('movie')">
            <fa-icon [icon]="filmIcon" [fixedWidth]="true"></fa-icon>
            Movie
          </button>
          <button ngbDropdownItem (click)="selectSearchType('people')">
            <fa-icon [icon]="userIcon" [fixedWidth]="true"></fa-icon>
            People
          </button>
        </div>
        <form class="d-flex" role="search">
          <ng-container *ngIf="searchType == 'movie'">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search Movie"
              aria-label="Search Movie"
            />
          </ng-container>
          <ng-container *ngIf="searchType == 'people'">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search People"
              aria-label="Search People"
            />
          </ng-container>
          <button class="btn border text-light" type="submit">
            <fa-icon [icon]="searchIcon" [fixedWidth]="true"></fa-icon>
          </button>
        </form>
      </div>
    </div>
  </div>
</nav>
