nav {
  &.navbar {
    .navbar-brand, .search-dropdown {
      font-family: 'Oswald', 'Arial', sans-serif;
    }

    .search-dropdown {
      .btn-select-search-type {
        border-radius: 0.375rem 0 0 0.375rem;
      }
    }

    .btn-search {
      margin-right: 3rem;
    }
  }
}
