<section class="person-overview">
  @if (personErrorFound) {
    <app-person-error [errorMessage]="errorMessage" (reload)="reloadOverview($event)">
    </app-person-error>
  }
  @if (!personErrorFound) {
    @if (person) {
      <div class="row">
        <div class="col-12 col-lg-8">
          <app-person-biography [person]="person"></app-person-biography>
        </div>
        <div class="col-12 col-lg-4">
          <section class="person-infotable">
            <app-person-infotable [person]="person"></app-person-infotable>
          </section>
        </div>
      </div>
    }
  }
</section>
