.search-main {
  @media screen and (max-width: 991px) {
    margin-top: 8rem;
  }

  @media screen and (min-width: 991px) {
    margin-top: 10rem;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 991px) {
      margin-bottom: 4rem;
    }

    @media screen and (min-width: 991px) {
      margin-bottom: 5rem;
    }
  }

  .bar-search-movie {
    @media screen and (max-width: 991px) {
      margin-bottom: 4rem;
    }

    @media screen and (min-width: 991px) {
      margin-bottom: 5rem;
    }
  }

  .bar-search-person {
    @media screen and (max-width: 991px) {
      margin-bottom: 10rem;
    }

    @media screen and (min-width: 991px) {
      margin-bottom: 5rem;
    }
  }
}
