<section class="person-cast-credit-list">
  <a [routerLink]="['/movie', crewRole.id]">
    <div class="list-content">
      <img [src]="posterSizeSmall" [alt]="altPosterText" />
      <div class="list-detail">
        <span>
          {{formattedTitle}}
        </span>
        <br />
        <span>
          <ng-container *ngIf="crewRole.job">{{ crewRole.job }}</ng-container>
          <ng-container *ngIf="!crewRole.job">No Job Defined</ng-container>
        </span>
      </div>
    </div>
  </a>
</section>
