<section class="person-cast-credit-list">
  <a [routerLink]="['/movie', crewRole.id]">
    <div class="list-content" [ngStyle]="{backgroundImage: 'url(' + bgImage + ')'}">
      <img [src]="posterSizeSmall" [alt]="altPosterText" />
      <div class="list-detail">
        <span class="list-formatted-title">
          {{formattedTitle}}
        </span>
        <br />
        <span>
          @if (crewRole.job) {
            {{ crewRole.job }}
          }
          @if (!crewRole.job) {
            No Job Defined
          }
        </span>
      </div>
    </div>
  </a>
</section>
