<section class="person-movie-credits-crew">
  <div class="row">
    <div class="col-12">
      <section class="person-crew-credits-controls">
        <div class="row">
          <div class="col-12 col-lg-6">
            <app-display-selector (onDisplayChange)="changeDisplay($event)"></app-display-selector>
          </div>
          <div class="col-12 col-lg-6">
            <app-order-select
              [orderCriterias]="orderCriterias"
              (onOrderCriteriaChange)="orderCriteriaChange($event)"
            >
            </app-order-select>
          </div>
          <div class="col-12 col-lg-6">
            <div class="form-group mb-3">
              <label for="filterRole" (click)="focusSelectRole()">
                Filter by role
                <fa-icon
                  [icon]="faCircleInfo"
                  [fixedWidth]="true"
                  [ngbTooltip]="filterByRoleTooltip"
                ></fa-icon
                >:
              </label>
              <ng-select
                #selectRole
                multiple="true"
                bindLabel="filterRole"
                [(ngModel)]="selectedRoles"
                (change)="changeFilterRoles($event)"
              >
                @for (role of roles; track role) {
                  <ng-option [value]="role">
                    {{ role }}
                  </ng-option>
                }
              </ng-select>
              <ng-template #filterByRoleTooltip>
                Now you can filter the crew credits by one or various roles. Just select here the
                role(s) you want to filter.
              </ng-template>
            </div>
          </div>
        </div>
        <button class="btn btn-danger" (click)="resetFiltersByDefault()">
          <fa-icon [icon]="faArrowRotateLeft"
                   [fixedWidth]="true">
          </fa-icon> 
          Reset filters to default
        </button>
      </section>
      <hr #crewParagraph />
      <section class="crew-credits">
        <ng-container *ngIf="displayMode == 'grid'">
          <section class="crew-credits-display-grid">
            <div class="row" #crewCreditsGrid>
              <ng-container
                *ngFor="
                  let crewRole of filterCrewCredits
                    | paginate: { itemsPerPage: 20, currentPage: page }
                "
              >
                <div class="col-12 col-sm-4 col-lg-2">
                  <app-person-crew-credit-grid [crewRole]="crewRole"></app-person-crew-credit-grid>
                </div>
              </ng-container>
            </div>
          </section>
        </ng-container>
        <ng-container *ngIf="displayMode == 'list'">
          <section class="crew-credits-display-list">
            <ng-container
              *ngFor="
                let crewRole of filterCrewCredits
                  | paginate: { itemsPerPage: 20, currentPage: page }
              "
            >
              <app-person-crew-credit-list [crewRole]="crewRole"></app-person-crew-credit-list>
            </ng-container>
          </section>
        </ng-container>
      </section>
      <section class="crew-credits-pagination">
        <div class="d-flex justify-content-center">
          <pagination-controls (pageChange)="changePage($event)"></pagination-controls>
        </div>
      </section>
    </div>
  </div>
</section>
