<section class="movie-full-crew">
  @if (loadingFullCrew) {
    <app-loading-inline message="Loading full crew..."></app-loading-inline>
  }
  @if (!loadingFullCrew) {
    @if (movieFullCrewError) {
      <app-movie-error [errorMessage]="errorMessage" (reload)="reloadFullCrew($event)">
      </app-movie-error>
    }
    @if (!movieFullCrewError) {
      <h2>Full Crew</h2>
      <app-order-select
        #orderSelectMovieFullCrew
        [orderCriterias]="orderCriterias"
        [defaultOrderCriteria]="defaultOrder"
        (onOrderCriteriaChange)="orderCriteriaChange($event)">
      </app-order-select>
      <hr />
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Role</th>
            </tr>
          </thead>
          <tbody>
            @for (crewMember of movieFullCrew; track crewMember) {
              <tr>
                <td>
                  <a href="" [routerLink]="['/person', crewMember.id]">
                    {{ crewMember.name }}
                  </a>
                </td>
                <td>{{ crewMember.job }}</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    }
  }
</section>
