<section class="movie-full-crew">
  @if (movieFullCrewError) {
    <app-movie-error [errorMessage]="errorMessage" (reload)="reloadFullCrew($event)">
    </app-movie-error>
  }
  @if (!movieFullCrewError) {
    <h2 #title>Full Crew</h2>
    @if (movieFullCrew().length > 0) {
      <app-order-select
        #orderSelectMovieFullCrew
        [orderCriterias]="orderCriterias()"
        [defaultOrderCriteria]="defaultOrder()"
        (onOrderCriteriaChange)="orderCriteriaChange($event)"
      >
      </app-order-select>
      <hr />
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Role</th>
            </tr>
          </thead>
          <tbody>
            @for (
              crewMember of movieFullCrew()
                | orderCrewMemberBy: currentOrder()
                | paginate
                  : {
                      itemsPerPage: crewMembersPerPage,
                      currentPage: currentPage,
                      totalItems: totalCrewMembers,
                    };
              track crewMember.id
            ) {
              <tr>
                <td>
                  <a href="" [routerLink]="['/person', crewMember.id]">
                    {{ crewMember.name }}
                  </a>
                </td>
                <td>{{ crewMember.job }}</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <pagination-controls (pageChange)="changePage($event)"> </pagination-controls>
      </div>
    } @else {
      <p>This movie has no recognizable crew</p>
    }
  }
</section>
