<section class="movie-full-crew">
  <ng-container *ngIf="loadingFullCrew">
    <app-loading-inline message="Loading full crew..."></app-loading-inline>
  </ng-container>
  <ng-container *ngIf="!loadingFullCrew">
    <ng-container *ngIf="movieFullCrewError">
      <app-movie-error [errorMessage]="errorMessage" (reload)="reloadFullCrew($event)">
      </app-movie-error>
    </ng-container>
    <ng-container *ngIf="!movieFullCrewError">
      <h2>Full Crew</h2>
      <app-order-select
        #orderSelectMovieFullCrew
        [orderCriterias]="orderCriterias"
        [defaultOrderCriteria]="defaultOrder"
        (onOrderCriteriaChange)="orderCriteriaChange($event)">
      </app-order-select>
      <hr />
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Role</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let crewMember of movieFullCrew">
              <td>
                <a href="" [routerLink]="['/person', crewMember.id]">
                  {{ crewMember.name }}
                </a>
              </td>
              <td>{{ crewMember.job }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
  </ng-container>
</section>
