.search-result-grid {
  position: relative;
  margin-bottom: 1rem;
  box-shadow: 3px 3px 10px black;
  border: 3px solid black;

  a {
    .movie-poster, .person-profile-img {
      z-index: 1;

      img {
        height: 500px;
      }
    }

    .movie-description, .person-name {
      position: absolute;
      bottom: 0;
      color: white;
      background-color: rgba(0,0,0,0.75);
      width: 100%;
      padding: 1rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-family: 'Oswald', 'Arial', sans-serif;
      transition: opacity 0.1s linear;
      z-index: 2;
    }

    &:hover {
      .movie-description, .person-name {
        opacity: 0;
      }
    }
  }
}

.search-tooltip {
  font-family: 'Oswald', 'Arial', sans-serif;
}

