.search-input {
  .input-group {
    input {
      font-family: 'Oswald', 'Arial', sans-serif;
      
      &.hide-border-radius {
        border-radius: 0;
      }
    }
  }

  .dropdown-menu {
    font-family: 'Oswald', 'Arial', sans-serif;

    .search-result {
      cursor: pointer;
      width: 300px;
      display: flex;
      align-items: center;
    }
    .view-all-results {
      cursor: pointer;
    }
  }
}
