.search-movie,
.search-person {
  header {
    background-color: rgba(204, 204, 204, 1);
    box-shadow: 0px 5px 15px rgba(0,0,0);
  }

  @media screen and (max-width: 991px) {
    header {
      margin-top: 2rem;
      padding: 5rem 1rem 1rem 1rem;
    }
  }

  @media screen and (min-width: 992px) {
    header {
      padding: 5rem 1rem 1rem 1rem;
    }
  }

  main {
    margin-top: 1rem;
  }
}

.search-movie {
  header {
    background-size: cover;
    background-position: center;
  }
}

.search-person {
  header {
    background-size: cover;
    background-position: center;
  }
}
