main {
  background-image: url('/img/default-images/home-bg.png');
  background-size: cover;

  .find-movie {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .find-movie-description {
    text-align: center;
    border: 3px solid black;
    box-shadow: 3px 3px 10px black;
    padding: 1rem 2rem;
    margin: 1rem 1rem;
    background-color: black;
    color: white;
  }
}
