<section class="person-crew-credit-grid">
  <a
    [routerLink]="['/movie', crewRole.id]"
    placement="bottom"
    [popoverTitle]="crewPopTitle"
    [ngbPopover]="crewPopContent"
    [container]="'body'"
    [popoverClass]="'person-popover'"
    triggers="hover"
  >
    <section class="person-link person-crew-credit">
      <section
        class="person-poster"
        [ngStyle]="{ 'background-image': 'url(' + posterSizeSmall + ')' }"
      ></section>
      <section class="person-info">
        <section class="person-info-container">
          <span>
            {{ crewRole.title }}
            (<ng-container *ngIf="releaseYear">{{ releaseYear }}</ng-container>
            <ng-container *ngIf="!releaseYear">No Release Year</ng-container>)
          </span>
          <span>{{ crewRole.job }}</span>
        </section>
      </section>
    </section>
  </a>
  <ng-template #crewPopTitle>
    <span>
      {{ crewRole.title }}
      (<ng-container *ngIf="releaseYear">{{ releaseYear }}</ng-container>
      <ng-container *ngIf="!releaseYear">No Release Year</ng-container>)
    </span>
  </ng-template>
  <ng-template #crewPopContent>
    <span>{{ crewRole.job }}</span>
  </ng-template>
</section>
