<section class="person-crew-credit-grid">
  <a
    [routerLink]="['/movie', crewRole.id]"
    placement="bottom"
    [popoverTitle]="crewPopTitle"
    [ngbPopover]="crewPopContent"
    [container]="'body'"
    [popoverClass]="'person-popover'"
    triggers="hover"
  >
    <section class="credit-poster">
      <img [src]="posterSizeSmall" class="w-100" [alt]="altPosterText" />
    </section>
    <section class="credit-info">
      <div class="credit-formatted-title">
        {{formattedTitle}}
      </div>
      <div class="credit-job">
        {{crewRole.job}}
      </div>
    </section>
  </a>
  <ng-template #crewPopTitle>
    {{formattedTitle}}
  </ng-template>
  <ng-template #crewPopContent>
    <span>{{ crewRole.job }}</span>
  </ng-template>
</section>
