.loading-fullscreen {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;

  .loading-description {
    text-align: center;
    border: 1px solid black;
    padding: 1rem 2rem;
    background-color: black;
    color: white;
  }
}
