<section class="person-cast-credit-grid">
  <a
    [routerLink]="['/movie', castRole.id]"
    placement="bottom"
    [popoverTitle]="castPopTitle"
    [ngbPopover]="castPopContent"
    [container]="'body'"
    [popoverClass]="'person-popover'"
    triggers="hover"
  >
    <section class="credit-poster">
      <img [src]="posterSizeSmall" class="w-100" [alt]="altPosterText" />
    </section>
    <section class="credit-info">
      <div class="credit-formatted-title">
        {{ formattedTitle }}
      </div>
      <div class="credit-role">
        <ng-container *ngIf="castRole.character">
          <ng-container *ngIf="castRole.character == '(uncredited)'; else character">
            as an uncredited character
          </ng-container>
          <ng-template #character> as {{ castRole.character }} </ng-template>
        </ng-container>
        <ng-container *ngIf="!castRole.character">as a role not defined</ng-container>
      </div>
    </section>
  </a>
  <ng-template #castPopTitle>
    {{ formattedTitle }}
  </ng-template>
  <ng-template #castPopContent>
    <ng-container *ngIf="castRole.character">
      <ng-container *ngIf="castRole.character == '(uncredited)'; else character">
        as an uncredited character
      </ng-container>
      <ng-template #character> as {{ castRole.character }} </ng-template>
    </ng-container>
    <ng-container *ngIf="!castRole.character">as a role not defined</ng-container>
  </ng-template>
</section>
