<section class="person-cast-credit-grid">
  <a
    [routerLink]="['/movie', castRole.id]"
    placement="bottom"
    [popoverTitle]="castPopTitle"
    [ngbPopover]="castPopContent"
    [container]="'body'"
    [popoverClass]="'person-popover'"
    triggers="hover"
    >
    <section class="credit-poster">
      <img [src]="posterSizeSmall" class="w-100" [alt]="altPosterText" />
    </section>
    <section class="credit-info">
      <div class="credit-formatted-title">
        {{ formattedTitle }}
      </div>
      <div class="credit-role">
        @if (castRole.character) {
          @if (castRole.character == '(uncredited)') {
            as an uncredited character
          } @else {
            as {{ castRole.character }}
          }
        }
        @if (!castRole.character) {
          as a role not defined
        }
      </div>
    </section>
  </a>
  <ng-template #castPopTitle>
    {{ formattedTitle }}
  </ng-template>
  <ng-template #castPopContent>
    @if (castRole.character) {
      @if (castRole.character == '(uncredited)') {
        as an uncredited character
      } @else {
        as {{ castRole.character }}
      }
    }
    @if (!castRole.character) {
      as a role not defined
    }
  </ng-template>
</section>
