<section class="movie-crew">
  <ng-container *ngIf="loadingCrew">
    <app-loading-inline message="Loading crew..."></app-loading-inline>
  </ng-container>
  <ng-container *ngIf="!loadingCrew">
    <h2>Crew</h2>

    <ngb-alert type="info" [dismissible]="false">
      <strong>TODO</strong>: Filter the crew
    </ngb-alert>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Role</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let crewMember of movieCrew">
            <td>{{crewMember.name}}</td>
            <td>{{crewMember.job}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="d-grid">
      <a routerLink="../full-crew" class="btn btn-primary mb-2"> See Full Crew </a>
    </div>
  </ng-container>
</section>
