.not-found {
  margin-top: 4rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .not-found-description {
    text-align: center;
    border: 1px solid black;
    padding: 1rem 2rem;
  }
}
