<section class="person-cast-credit-list">
  <a [routerLink]="['/movie', castRole.id]">
    <div class="list-content" [ngStyle]="{backgroundImage: 'url(' + bgImage + ')'}">
      <img [src]="posterSizeSmall" [alt]="altPosterText" />
      <div class="list-detail">
        <span class="list-formatted-title">
          {{formattedTitle}}
        </span>
        <br />
        <span>
          <ng-container *ngIf="castRole.character">
            <ng-container *ngIf="castRole.character == '(uncredited)'; else character">
              as an uncredited character
            </ng-container>
            <ng-template #character>
              as {{ castRole.character }}
            </ng-template>
          </ng-container>
          <ng-container *ngIf="!castRole.character">
            as a role not defined
          </ng-container>
        </span>
      </div>
    </div>
  </a>
</section>
