<section class="person-cast-credit-list">
  <a [routerLink]="['/movie', castRole.id]">
    <div class="list-content" [ngStyle]="{backgroundImage: 'url(' + bgImage + ')'}">
      <img [src]="posterSizeSmall" [alt]="altPosterText" />
      <div class="list-detail">
        <span class="list-formatted-title">
          {{formattedTitle}}
        </span>
        <br />
        <span>
          @if (castRole.character) {
            @if (castRole.character == '(uncredited)') {
              as an uncredited character
            } @else {
              as {{ castRole.character }}
            }
          }
          @if (!castRole.character) {
            as a role not defined
          }
        </span>
      </div>
    </div>
  </a>
</section>
