.movie-error-fullscreen {
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .movie-error-description {
    text-align: center;
    border: 1px solid black;
    padding: 1rem 2rem;
    width: 80vw;
    background-color: black;
    color: white;

    button {
      font-family: 'Oswald', 'Arial', sans-serif;
    }
  }
}
