.person-overview {
  .person-biography {
    margin-bottom: 1rem;
  }

  .no-person-biography-available {
    font-style: italic;
    margin-bottom: 1rem;
  }

  .person-infotable {
    margin-bottom: 1rem;
  }
}
