<section class="movie-overview">
  <ng-container *ngIf="loadingMovie">
    <app-loading-fullscreen message="Loading movie..."></app-loading-fullscreen>
  </ng-container>
  <ng-container *ngIf="!loadingMovie">
    <ng-container *ngIf="movieOverviewError">
      <app-movie-error
        [errorMessage]="errorMessage"
        (reload)="reloadMovieOverview($event)"
      ></app-movie-error>
    </ng-container>
    <ng-container *ngIf="!movieOverviewError">
      <ng-container *ngIf="movie.tagline">
        <section class="movie-tagline">
          <p>{{ movie.tagline }}</p>
        </section>
      </ng-container>
      <ng-container *ngIf="movie.overview">
        <section class="movie-overview">
          <p>{{ movie.overview }}</p>
        </section>
        <hr />
      </ng-container>
      <ng-container *ngIf="loadingCredits">
        <app-loading-inline message="Loading credits"></app-loading-inline>
      </ng-container>
      <ng-container *ngIf="!loadingCredits">
        <ng-container *ngIf="movieCreditsFound">
          <section class="movie-main-credits">
            <div class="row">
              <div class="col-12 col-lg-4">
                <app-movie-overview-main-cast [movieCast]="credits.cast">
                </app-movie-overview-main-cast>
              </div>
              <div class="col-12 col-lg-8">
                <section class="movie-main-crew">
                  <app-movie-overview-main-crew [movieCrew]="credits.crew">
                  </app-movie-overview-main-crew>
                </section>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-lg-4">
                <div class="d-grid mb-2">
                  <a [routerLink]="['/movie', movie.id, 'cast']" class="btn btn-primary">
                    See Full Cast
                  </a>
                </div>
              </div>
              <div class="col-12 col-lg-4">
                <div class="d-grid mb-2">
                  <a [routerLink]="['/movie', movie.id, 'crew']" class="btn btn-primary">
                    See Featured Crew
                  </a>
                </div>
              </div>
              <div class="col-12 col-lg-4">
                <div class="d-grid mb-2">
                  <a [routerLink]="['/movie', movie.id, 'full-crew']" class="btn btn-primary">
                    See Full Crew
                  </a>
                </div>
              </div>
            </div>
          </section>
        </ng-container>
        <ng-container *ngIf="!movieCreditsFound">
          <section class="error-credits">
            <p>Error showing credits: <strong>{{ movieCreditsErrorMessage }}</strong></p>
          </section>
        </ng-container>
        <hr />
      </ng-container>
      <div class="row">
        <div class="col-12 col-lg-6">
          <app-movie-overview-trailer [movieId]="id">
          </app-movie-overview-trailer>
        </div>
        <div class="col-12 col-lg-6">
          <section class="movie-info">
            <app-movie-overview-infotable [movie]="movie">
            </app-movie-overview-infotable>
          </section>
        </div>
      </div>
    </ng-container>
  </ng-container>
</section>
