.movie-overview {
  .movie-tagline {
    font-style: italic;
    margin-bottom: 1rem;
  }

  .movie-overview {
    margin-bottom: 1rem;
  }

  .movie-main-cast {
    margin-bottom: 1rem;
  }

  .movie-main-crew {
    margin-bottom: 1rem;
  }

  .movie-video {
    iframe {
      width: inherit;
      height: 325px;
    }
  }

  .movie-info {
    margin-bottom: 1rem;
  }
}
