<section class="movie-overview">
  <ng-container *ngIf="loadingMovie">
    <app-loading-fullscreen message="Loading movie..."></app-loading-fullscreen>
  </ng-container>
  <ng-container *ngIf="!loadingMovie">
    <ng-container *ngIf="movieOverviewError">
      <app-movie-error
        [errorMessage]="errorMessage"
        (reload)="reloadMovieOverview($event)"
      ></app-movie-error>
    </ng-container>
    <ng-container *ngIf="!movieOverviewError">
      <ng-container *ngIf="movie.tagline">
        <section class="movie-tagline">
          <p>{{ movie.tagline }}</p>
        </section>
      </ng-container>
      <ng-container *ngIf="movie.overview">
        <section class="movie-overview">
          <p>{{ movie.overview }}</p>
        </section>
        <hr />
      </ng-container>
      <ng-container *ngIf="!loadingCredits">
        <section class="movie-main-credits">
          <div class="row">
            <div class="col-12 col-lg-4">
              <h3>Main Cast</h3>
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                    <tr>
                      <td>Starring:</td>
                      <td class="text-end">
                        <ng-container *ngFor="let cast of mainCast">
                          <a [routerLink]="['/person', cast.id]">
                            {{ cast.name }}
                          </a>
                          <br />
                        </ng-container>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-12 col-lg-8">
              <section class="movie-main-crew">
                <h3>Main Crew</h3>
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <ng-container *ngIf="direction.length > 0">
                        <tr>
                          <td>Directed By:</td>
                          <td class="text-end">
                            <ng-container *ngFor="let director of direction">
                              <a [routerLink]="['/person', director.id]">
                                {{ director.name }}
                              </a>
                              <br />
                            </ng-container>
                          </td>
                        </tr>
                      </ng-container>
                      <ng-container *ngIf="writing.length > 0">
                        <tr>
                          <td>Written By:</td>
                          <td class="text-end">
                            <ng-container *ngFor="let writer of writing">
                              <a [routerLink]="['/person', writer.id]">
                                {{ writer.name }}
                              </a>
                              <br />
                            </ng-container>
                          </td>
                        </tr>
                      </ng-container>
                      <ng-container *ngIf="story.length > 0">
                        <tr>
                          <td>Story By:</td>
                          <td class="text-end">
                            <ng-container *ngFor="let storyArtist of story">
                              <a [routerLink]="['/person', storyArtist.id]">
                                {{ storyArtist.name }}
                              </a>
                              <br />
                            </ng-container>
                          </td>
                        </tr>
                      </ng-container>
                      <ng-container *ngIf="basedOnWorkBy.length > 0">
                        <tr>
                          <td>Based on the Work By:</td>
                          <td class="text-end">
                            <ng-container *ngFor="let author of basedOnWorkBy">
                              <a [routerLink]="['/person', author.id]">
                                {{ author.name }}
                              </a>
                              <br />
                            </ng-container>
                          </td>
                        </tr>
                      </ng-container>
                      <ng-container *ngIf="producing.length > 0">
                        <tr>
                          <td>Produced By:</td>
                          <td class="text-end">
                            <ng-container *ngFor="let producer of producing">
                              <a [routerLink]="['/person', producer.id]">
                                {{ producer.name }}
                              </a>
                              <br />
                            </ng-container>
                          </td>
                        </tr>
                      </ng-container>
                      <ng-container *ngIf="executiveProducing.length > 0">
                        <tr>
                          <td>
                            Executive Producer<ng-container *ngIf="executiveProducing.length > 1"
                              >s</ng-container
                            >:
                          </td>
                          <td class="text-end">
                            <ng-container *ngFor="let executiveProducer of executiveProducing">
                              <a [routerLink]="['/person', executiveProducer.id]">
                                {{ executiveProducer.name }}
                              </a>
                              <br />
                            </ng-container>
                          </td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
              </section>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-lg-4">
              <div class="d-grid mb-2">
                <a [routerLink]="['/movie', movie.id, 'cast']" class="btn btn-primary">
                  See Full Cast
                </a>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="d-grid mb-2">
                <a [routerLink]="['/movie', movie.id, 'crew']" class="btn btn-primary">
                  See Featured Crew
                </a>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="d-grid mb-2">
                <a [routerLink]="['/movie', movie.id, 'full-crew']" class="btn btn-primary">
                  See Full Crew
                </a>
              </div>
            </div>
          </div>
        </section>
        <hr />
      </ng-container>
      <!-- Video -->
      <ng-container *ngIf="!loadingVideo">
        <ng-container *ngIf="responseVideo.results.length > 0">
          <section class="movie-video">
            <h3>Video</h3>
            <p>Here goes video</p>
            <!--
            <p>{{responseVideo | json}}</p>
            -->
          </section>
          <hr />
        </ng-container>
      </ng-container>
      <!-- Movie Info -->
      <section class="movie-info">
        <h3>Movie Info</h3>
        <div class="table table-responsive">
          <table class="table">
            <tbody>
              <ng-container *ngIf="movie.genres.length > 0">
                <tr>
                  <td>Genre<ng-container *ngIf="movie.genres.length > 1">s</ng-container>:</td>
                  <td>
                    <ng-container *ngFor="let genres of movie.genres">
                      {{ genres.name }}
                      <br />
                    </ng-container>
                  </td>
                </tr>
              </ng-container>
              <ng-container *ngIf="movie.production_companies.length > 0">
                <tr>
                  <td>
                    Production Compan<ng-container *ngIf="movie.production_companies.length == 1"
                      >y</ng-container
                    >
                    <ng-container *ngIf="movie.production_companies.length > 1">ies</ng-container>:
                  </td>
                  <td>
                    <ng-container *ngFor="let productionCompany of movie.production_companies">
                      {{ productionCompany.name }}
                      <br />
                    </ng-container>
                  </td>
                </tr>
              </ng-container>
              <ng-container *ngIf="movie.production_countries.length > 0">
                <tr>
                  <td>
                    Production Countr<ng-container *ngIf="movie.production_countries.length == 1"
                      >y</ng-container
                    >
                    <ng-container *ngIf="movie.production_countries.length > 1">ies</ng-container>:
                  </td>
                  <td>
                    <ng-container *ngFor="let productionCountry of movie.production_countries">
                      {{ productionCountry.name }}
                      <br />
                    </ng-container>
                  </td>
                </tr>
              </ng-container>
              <ng-container>
                <tr>
                  <td>Release Date:</td>
                  <td>{{ movieReleaseDate | date : 'longDate' }}</td>
                </tr>
              </ng-container>
              <ng-container *ngIf="movie.runtime && movie.runtime > 0">
                <tr>
                  <td>Runtime:</td>
                  <td>{{ movie.runtime }} min</td>
                </tr>
              </ng-container>
              <ng-container *ngIf="movie.budget && movie.budget > 0">
                <tr>
                  <td>Budget:</td>
                  <td>USD {{ movie.budget | currency : 'USD' : 'symbol' : '1.0' }}</td>
                </tr>
              </ng-container>
              <ng-container *ngIf="movie.revenue && movie.revenue > 0">
                <tr>
                  <td>Box Office:</td>
                  <td>USD {{ movie.revenue | currency : 'USD' : 'symbol' : '1.0' }}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </section>
      <hr />
      <!-- External Links -->
      <section class="movie-external-links">
        <h3>External Links</h3>
        <ng-container *ngIf="movie.imdb_id">
          <div class="d-grid mb-2">
            <a [href]="movieIMDB" class="btn btn-primary" target="_blank">
              <fa-icon [icon]="imdbIcon"></fa-icon>
              View IMDB
            </a>
          </div>
        </ng-container>
        <ng-container *ngIf="movie.homepage">
          <div class="d-grid mb-2">
            <a [href]="movieHomepage" class="btn btn-primary" target="_blank">
              <fa-icon [icon]="globeIcon"></fa-icon>
              View Homepage
            </a>
          </div>
        </ng-container>
      </section>
    </ng-container>
  </ng-container>
</section>
