.movie-overview {
  .movie-tagline {
    font-style: italic;
    margin-bottom: 1rem;
  }

  .movie-overview {
    margin-bottom: 1rem;
  }

  .movie-general-credits {
    margin-bottom: 1rem;
  }

  .movie-info {
    margin-bottom: 1rem;
  }
}
