<section class="search-person">
  @if (loadingSearchPerson) {
    <app-loading-fullscreen message="Searching..."></app-loading-fullscreen>
  }
  @if (!loadingSearchPerson) {
    <header #header [ngStyle]="{backgroundImage: 'url(' + bgImage + ')'}">
      <h1>
        <fa-icon [icon]="searchIcon"></fa-icon>
        Search Person
      </h1>
      <h2>
        <fa-icon [icon]="userIcon"></fa-icon>
        {{ searchQuery }}
      </h2>
    </header>
    <main>
      <div class="container-fluid">
        @if (searchError) {
          <app-search-error [errorMessage]="errorMessage" (reload)="searchPerson()">
          </app-search-error>
        }
        @if (!searchError) {
          @if (noResults) {
            <section class="search-person-no-results">
              <p>
                <strong>{{ searchQuery }}</strong> returned no results.
              </p>
            </section>
          }
          @if (!noResults) {
            <section class="search-person-controls">
              <app-display-selector
                [displayMode]="displayMode"
                (onDisplayChange)="changeDisplay($event)"
                >
              </app-display-selector>
            </section>
            <section class="search-person-results">
              <p>
                <strong>{{ searchQuery }}</strong> returned {{ totalResults }} results. Showing
                results {{ currentPageStart }}-{{ currentPageEnd }} of {{ totalResults }}:
              </p>
              @if (displayMode == 'grid') {
                <section class="search-person-results-grid">
                  <div class="row">
                    @for (
                      personResult of personResults
                      | paginate
                      : {
                      itemsPerPage: 20,
                      currentPage: currentPage,
                      totalItems: totalResults
                    }
                    ; track
                    personResult) {
                    <div class="col-12 col-sm-6 col-lg-3">
                      <app-search-person-result-grid [personResult]="personResult">
                      </app-search-person-result-grid>
                    </div>
                  }
                </div>
              </section>
            }
            @if (displayMode == 'list') {
              <section class="search-person-results-list">
                <div class="row">
                  @for (
                    personResult of personResults
                    | paginate
                    : {
                    itemsPerPage: 20,
                    currentPage: currentPage,
                    totalItems: totalResults
                  }
                  ; track
                  personResult) {
                  <app-search-person-result-list [personResult]="personResult">
                  </app-search-person-result-list>
                }
              </div>
            </section>
          }
          <div class="d-flex justify-content-center align-items-center">
            <pagination-controls (pageChange)="changePage($event)"></pagination-controls>
          </div>
        </section>
      }
    }
  </div>
</main>
}
</section>
