<section class="movie-crew">
  @if (loadingCrew) {
    <app-loading-inline message="Loading crew..."></app-loading-inline>
  }
  @if (!loadingCrew) {
    @if (movieCrewError) {
      <app-movie-error [errorMessage]="errorMessage" (reload)="reloadCrew($event)">
      </app-movie-error>
    }
    @if (!movieCrewError) {
      <h2>Featured Crew</h2>
      <div class="table-responsive">
        <table class="table">
          <tbody>
            @if (direction.length > 0) {
              <tr>
                <td>Directed By:</td>
                <td>
                  @for (director of direction; track director) {
                    <a [routerLink]="['/person', director.id]">
                      {{ director.name }}
                    </a>
                    <br />
                  }
                </td>
              </tr>
            }
            @if (coDirection.length > 0) {
              <tr>
                <td>Co-Directed By:</td>
                <td>
                  @for (coDirector of coDirection; track coDirector) {
                    <a [routerLink]="['/person', coDirector.id]">
                      {{ coDirector.name }}
                    </a>
                    <br />
                  }
                </td>
              </tr>
            }
            @if (writing.length > 0) {
              <tr>
                <td>Written By:</td>
                <td>
                  @for (writer of writing; track writer) {
                    <a [routerLink]="['/person', writer.id]">
                      {{ writer.name }}
                    </a>
                    <br />
                  }
                </td>
              </tr>
            }
            @if (story.length > 0) {
              <tr>
                <td>Story By:</td>
                <td>
                  @for (storyArtist of story; track storyArtist) {
                    <a [routerLink]="['/person', storyArtist.id]">
                      {{ storyArtist.name }}
                    </a>
                    <br />
                  }
                </td>
              </tr>
            }
            @if (basedOnWorkBy.length > 0) {
              <tr>
                <td>Based on Work By:</td>
                <td>
                  @for (author of basedOnWorkBy; track author) {
                    <a [routerLink]="['/person', author.id]">
                      {{ author.name }}
                    </a>
                    <br />
                  }
                </td>
              </tr>
            }
            @if (basedOnCharactersBy.length > 0) {
              <tr>
                <td>Based on Characters Created By:</td>
                <td>
                  @for (author of basedOnCharactersBy; track author) {
                    <a [routerLink]="['/person', author.id]">
                      {{ author.name }}
                    </a>
                    <br />
                  }
                </td>
              </tr>
            }
            @if (producing.length > 0) {
              <tr>
                <td>Produced By:</td>
                <td>
                  @for (producer of producing; track producer) {
                    <a [routerLink]="['/person', producer.id]">
                      {{ producer.name }}
                    </a>
                    <br />
                  }
                </td>
              </tr>
            }
            @if (executiveProducing.length > 0) {
              <tr>
                <td>
                  @if (executiveProducing.length > 1) {
                    Executive Producers:
                  } @else {
                    Executive Producer:
                  }
                </td>
                <td>
                  @for (executiveProducer of executiveProducing; track executiveProducer) {
                    <a [routerLink]="['/person', executiveProducer.id]">
                      {{ executiveProducer.name }}
                    </a>
                    <br />
                  }
                </td>
              </tr>
            }
            @if (coProducing.length > 0) {
              <tr>
                <td>
                  @if (coProducing.length > 1) {
                    Co-Producers:
                  } @else {
                    Co-Producer:
                  }
                </td>
                <td>
                  @for (coProducer of coProducing; track coProducer) {
                    <a [routerLink]="['/person', coProducer.id]">
                      {{ coProducer.name }}
                    </a>
                    <br />
                  }
                </td>
              </tr>
            }
            @if (directorsOfPhotography.length > 0) {
              <tr>
                <td>
                  @if (directorsOfPhotography.length > 1) {
                    Directors of Photography:
                  } @else {
                    Director of Photography:
                  }
              </td>
              <td>
                @for (directorOfPhotography of directorsOfPhotography; track directorOfPhotography) {
                  <a [routerLink]="['/person', directorOfPhotography.id]">
                    {{ directorOfPhotography.name }}
                  </a>
                  <br />
                }
              </td>
            </tr>
          }
          @if (productionDesigners.length > 0) {
            <tr>
              <td>
                @if (productionDesigners.length > 1) {
                  Production Designers:
                } @else {
                  Production Designer:
                }
              </td>
              <td>
                @for (productionDesigner of productionDesigners; track productionDesigner) {
                  <a [routerLink]="['/person', productionDesigner.id]">
                    {{ productionDesigner.name }}
                  </a>
                  <br />
                }
              </td>
            </tr>
          }
          @if (editors.length > 0) {
            <tr>
              <td>
                @if (editors.length > 1) {
                  Editors:
                } @else {
                  Editor:
                }
              </td>
              <td>
                @for (editor of editors; track editor) {
                  <a [routerLink]="['/person', editor.id]">
                    {{ editor.name }}
                  </a>
                  <br />
                }
              </td>
            </tr>
          }
          @if (musicComposers.length > 0) {
            <tr>
              <td>Music By:</td>
              <td>
                @for (musicComposer of musicComposers; track musicComposer) {
                  <a [routerLink]="['/person', musicComposer.id]">
                    {{ musicComposer.name }}
                  </a>
                  <br />
                }
              </td>
            </tr>
          }
          @if (additionalMusicComposers.length > 0) {
            <tr>
              <td>Additional Music By:</td>
              <td>
                @for (additionalMusicComposer of additionalMusicComposers; track additionalMusicComposer) {
                  <a [routerLink]="['/person', additionalMusicComposer.id]">
                    {{ additionalMusicComposer.name }}
                  </a>
                  <br />
                }
              </td>
            </tr>
          }
          @if (visualEffectsSupervisors.length > 0) {
            <tr>
              <td>
                @if (visualEffectsSupervisors.length > 1) {
                  Visual Effects Supervisors:
                } @else {
                  Visual Effects Supervisor:
                }
              </td>
              <td>
                @for (visualEffectsSupervisor of visualEffectsSupervisors; track visualEffectsSupervisor) {
                  <a [routerLink]="['/person', visualEffectsSupervisor.id]">
                    {{ visualEffectsSupervisor.name }}
                  </a>
                  <br />
                }
              </td>
            </tr>
          }
          @if (costumeDesigners.length > 0) {
            <tr>
              <td>
                @if (costumeDesigners.length > 1) {
                  Costume Designers:
                } @else {
                  Costume Designer:
                }
              </td>
              <td>
                @for (costumeDesigner of costumeDesigners; track costumeDesigner) {
                  <a [routerLink]="['/person', costumeDesigner.id]">
                    {{ costumeDesigner.name }}
                  </a>
                  <br />
                }
              </td>
            </tr>
          }
          @if (castingCrew.length > 0) {
            <tr>
              <td>Casting By:</td>
              <td>
                @for (casting of castingCrew; track casting) {
                  <a [routerLink]="['/person', casting.id]">
                    {{ casting.name }}
                  </a>
                  <br />
                }
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    <div class="d-grid">
      <a routerLink="../full-crew" class="btn btn-primary mb-2"> See Full Crew </a>
    </div>
  }
}
</section>
