<section class="movie-crew">
  @if (movieCrewError) {
    <app-movie-error [errorMessage]="errorMessage" (reload)="reloadCrew($event)"> </app-movie-error>
  }
  @if (!movieCrewError) {
    <h2>Featured Crew</h2>
    @if (
      direction.length > 0 ||
      coDirection.length > 0 ||
      writing.length > 0 ||
      story.length > 0 ||
      basedOnNovelBy.length > 0 ||
      basedOnStoryBy.length > 0 ||
      basedOnCharactersBy.length > 0 ||
      basedOnBookBy.length > 0 ||
      basedOnComicBookBy.length > 0 ||
      basedOnFilmWrittenBy.length > 0 ||
      basedOnTVSeriesCreatedBy.length > 0 ||
      basedOnTheatrePlayBy.length > 0 ||
      basedOnMusicalBy.length > 0 ||
      producing.length > 0 ||
      executiveProducing.length > 0 ||
      coProducing.length > 0 ||
      directorsOfPhotography.length > 0 ||
      productionDesigners.length > 0 ||
      editors.length > 0 ||
      musicComposers.length > 0 ||
      additionalMusicComposers.length > 0 ||
      songsBy.length > 0 ||
      lyricsBy.length > 0 ||
      musicSupervisors.length > 0 ||
      soundDesigners.length > 0 ||
      visualEffectsSupervisors.length > 0 ||
      costumeDesigners.length > 0 ||
      castingCrew.length > 0
    ) {
      <div class="table-responsive">
        <table class="table">
          <tbody>
            @if (direction.length > 0) {
              <tr>
                <td>Directed By:</td>
                <td>
                  @for (director of direction; track director.id) {
                    <a [routerLink]="['/person', director.id]">
                      {{ director.name }}
                    </a>
                    <br />
                  }
                </td>
              </tr>
            }
            @if (coDirection.length > 0) {
              <tr>
                <td>Co-Directed By:</td>
                <td>
                  @for (coDirector of coDirection; track coDirector.id) {
                    <a [routerLink]="['/person', coDirector.id]">
                      {{ coDirector.name }}
                    </a>
                    <br />
                  }
                </td>
              </tr>
            }
            @if (writing.length > 0) {
              <tr>
                <td>Written By:</td>
                <td>
                  @for (writer of writing; track writer.id) {
                    <a [routerLink]="['/person', writer.id]">
                      {{ writer.name }}
                    </a>
                    <br />
                  }
                </td>
              </tr>
            }
            @if (story.length > 0) {
              <tr>
                <td>Story By:</td>
                <td>
                  @for (storyArtist of story; track storyArtist.id) {
                    <a [routerLink]="['/person', storyArtist.id]">
                      {{ storyArtist.name }}
                    </a>
                    <br />
                  }
                </td>
              </tr>
            }
            @if (basedOnNovelBy.length > 0) {
              <tr>
                <td>Based on a Novel By:</td>
                <td>
                  @for (author of basedOnNovelBy; track author.id) {
                    <a [routerLink]="['/person', author.id]">
                      {{ author.name }}
                    </a>
                    <br />
                  }
                </td>
              </tr>
            }
            @if (basedOnStoryBy.length > 0) {
              <tr>
                <td>Based on a Story By:</td>
                <td>
                  @for (author of basedOnStoryBy; track author.id) {
                    <a [routerLink]="['/person', author.id]">
                      {{ author.name }}
                    </a>
                    <br />
                  }
                </td>
              </tr>
            }
            @if (basedOnCharactersBy.length > 0) {
              <tr>
                <td>Based on Characters Created By:</td>
                <td>
                  @for (author of basedOnCharactersBy; track author.id) {
                    <a [routerLink]="['/person', author.id]">
                      {{ author.name }}
                    </a>
                    <br />
                  }
                </td>
              </tr>
            }
            @if (basedOnBookBy.length > 0) {
              <tr>
                <td>Based on a Book By:</td>
                <td>
                  @for (author of basedOnBookBy; track author.id) {
                    <a [routerLink]="['/person', author.id]">
                      {{ author.name }}
                    </a>
                    <br />
                  }
                </td>
              </tr>
            }
            @if (basedOnComicBookBy.length > 0) {
              <tr>
                <td>Based on a Comic Book By:</td>
                <td>
                  @for (author of basedOnComicBookBy; track author.id) {
                    <a [routerLink]="['/person', author.id]">
                      {{ author.name }}
                    </a>
                    <br />
                  }
                </td>
              </tr>
            }
            @if (basedOnFilmWrittenBy.length > 0) {
              <tr>
                <td>Based on a Film Written By:</td>
                <td>
                  @for (author of basedOnFilmWrittenBy; track author.id) {
                    <a [routerLink]="['/person', author.id]">
                      {{ author.name }}
                    </a>
                    <br />
                  }
                </td>
              </tr>
            }
            @if (basedOnTVSeriesCreatedBy.length > 0) {
              <tr>
                <td>Based on a TV Series Created By:</td>
                <td>
                  @for (author of basedOnTVSeriesCreatedBy; track author.id) {
                    <a [routerLink]="['/person', author.id]">
                      {{ author.name }}
                    </a>
                    <br />
                  }
                </td>
              </tr>
            }
            @if (basedOnTheatrePlayBy.length > 0) {
              <tr>
                <td>Based on a Theatre Play By:</td>
                <td>
                  @for (author of basedOnTheatrePlayBy; track author.id) {
                    <a [routerLink]="['/person', author.id]">
                      {{ author.name }}
                    </a>
                    <br />
                  }
                </td>
              </tr>
            }
            @if (basedOnMusicalBy.length > 0) {
              <tr>
                <td>Based on a Musical By:</td>
                <td>
                  @for (author of basedOnMusicalBy; track author.id) {
                    <a [routerLink]="['/person', author.id]">
                      {{ author.name }}
                    </a>
                    <br />
                  }
                </td>
              </tr>
            }
            @if (producing.length > 0) {
              <tr>
                <td>Produced By:</td>
                <td>
                  @for (producer of producing; track producer.id) {
                    <a [routerLink]="['/person', producer.id]">
                      {{ producer.name }}
                    </a>
                    <br />
                  }
                </td>
              </tr>
            }
            @if (executiveProducing.length > 0) {
              <tr>
                <td>
                  @if (executiveProducing.length > 1) {
                    Executive Producers:
                  } @else {
                    Executive Producer:
                  }
                </td>
                <td>
                  @for (executiveProducer of executiveProducing; track executiveProducer.id) {
                    <a [routerLink]="['/person', executiveProducer.id]">
                      {{ executiveProducer.name }}
                    </a>
                    <br />
                  }
                </td>
              </tr>
            }
            @if (associateProducing.length > 0) {
              <tr>
                <td>
                  @if (associateProducing.length > 1) {
                    Associate Producers:
                  } @else {
                    Associate Producer:
                  }
                </td>
                <td>
                  @for (associateProducer of associateProducing; track associateProducer.id) {
                    <a [routerLink]="['/person', associateProducer.id]">
                      {{ associateProducer.name }}
                    </a>
                    <br />
                  }
                </td>
              </tr>
            }
            @if (coProducing.length > 0) {
              <tr>
                <td>
                  @if (coProducing.length > 1) {
                    Co-Producers:
                  } @else {
                    Co-Producer:
                  }
                </td>
                <td>
                  @for (coProducer of coProducing; track coProducer.id) {
                    <a [routerLink]="['/person', coProducer.id]">
                      {{ coProducer.name }}
                    </a>
                    <br />
                  }
                </td>
              </tr>
            }
            @if (directorsOfPhotography.length > 0) {
              <tr>
                <td>
                  @if (directorsOfPhotography.length > 1) {
                    Directors of Photography:
                  } @else {
                    Director of Photography:
                  }
                </td>
                <td>
                  @for (
                    directorOfPhotography of directorsOfPhotography;
                    track directorOfPhotography.id
                  ) {
                    <a [routerLink]="['/person', directorOfPhotography.id]">
                      {{ directorOfPhotography.name }}
                    </a>
                    <br />
                  }
                </td>
              </tr>
            }
            @if (productionDesigners.length > 0) {
              <tr>
                <td>
                  @if (productionDesigners.length > 1) {
                    Production Designers:
                  } @else {
                    Production Designer:
                  }
                </td>
                <td>
                  @for (productionDesigner of productionDesigners; track productionDesigner.id) {
                    <a [routerLink]="['/person', productionDesigner.id]">
                      {{ productionDesigner.name }}
                    </a>
                    <br />
                  }
                </td>
              </tr>
            }
            @if (editors.length > 0) {
              <tr>
                <td>
                  @if (editors.length > 1) {
                    Editors:
                  } @else {
                    Editor:
                  }
                </td>
                <td>
                  @for (editor of editors; track editor.id) {
                    <a [routerLink]="['/person', editor.id]">
                      {{ editor.name }}
                    </a>
                    <br />
                  }
                </td>
              </tr>
            }
            @if (musicComposers.length > 0) {
              <tr>
                <td>Music By:</td>
                <td>
                  @for (musicComposer of musicComposers; track musicComposer.id) {
                    <a [routerLink]="['/person', musicComposer.id]">
                      {{ musicComposer.name }}
                    </a>
                    <br />
                  }
                </td>
              </tr>
            }
            @if (additionalMusicComposers.length > 0) {
              <tr>
                <td>Additional Music By:</td>
                <td>
                  @for (
                    additionalMusicComposer of additionalMusicComposers;
                    track additionalMusicComposer.id
                  ) {
                    <a [routerLink]="['/person', additionalMusicComposer.id]">
                      {{ additionalMusicComposer.name }}
                    </a>
                    <br />
                  }
                </td>
              </tr>
            }
            @if (songsBy.length > 0) {
              <tr>
                <td>Songs By:</td>
                <td>
                  @for (
                    songsAuthor of songsBy;
                    track songsAuthor.id
                  ) {
                    <a [routerLink]="['/person', songsAuthor.id]">
                      {{ songsAuthor.name }}
                    </a>
                    <br />
                  }
                </td>
              </tr>
            }
            @if (lyricsBy.length > 0) {
              <tr>
                <td>Lyrics By:</td>
                <td>
                  @for (
                    lyricsAuthor of lyricsBy;
                    track lyricsAuthor.id
                  ) {
                    <a [routerLink]="['/person', lyricsAuthor.id]">
                      {{ lyricsAuthor.name }}
                    </a>
                    <br />
                  }
                </td>
              </tr>
            }
            @if (musicSupervisors.length > 0) {
              <tr>
                <td>
                  @if (musicSupervisors.length > 1) {
                    Music Supervisors:
                  } @else {
                    Music Supervisor:
                  }
                </td>
                <td>
                  @for (musicSupervisor of musicSupervisors; track musicSupervisor.id) {
                    <a [routerLink]="['/person', musicSupervisor.id]">
                      {{ musicSupervisor.name }}
                    </a>
                    <br />
                  }
                </td>
              </tr>
            }
            @if (soundDesigners.length > 0) {
              <tr>
                <td>
                  @if (soundDesigners.length > 1) {
                    Sound Designers:
                  } @else {
                    Sound Designer:
                  }
                </td>
                <td>
                  @for (soundDesigner of soundDesigners; track soundDesigner.id) {
                    <a [routerLink]="['/person', soundDesigner.id]">
                      {{ soundDesigner.name }}
                    </a>
                    <br />
                  }
                </td>
              </tr>
            }
            @if (visualEffectsSupervisors.length > 0) {
              <tr>
                <td>
                  @if (visualEffectsSupervisors.length > 1) {
                    Visual Effects Supervisors:
                  } @else {
                    Visual Effects Supervisor:
                  }
                </td>
                <td>
                  @for (
                    visualEffectsSupervisor of visualEffectsSupervisors;
                    track visualEffectsSupervisor.id
                  ) {
                    <a [routerLink]="['/person', visualEffectsSupervisor.id]">
                      {{ visualEffectsSupervisor.name }}
                    </a>
                    <br />
                  }
                </td>
              </tr>
            }
            @if (costumeDesigners.length > 0) {
              <tr>
                <td>
                  @if (costumeDesigners.length > 1) {
                    Costume Designers:
                  } @else {
                    Costume Designer:
                  }
                </td>
                <td>
                  @for (costumeDesigner of costumeDesigners; track costumeDesigner.id) {
                    <a [routerLink]="['/person', costumeDesigner.id]">
                      {{ costumeDesigner.name }}
                    </a>
                    <br />
                  }
                </td>
              </tr>
            }
            @if (castingCrew.length > 0) {
              <tr>
                <td>Casting By:</td>
                <td>
                  @for (casting of castingCrew; track casting.id) {
                    <a [routerLink]="['/person', casting.id]">
                      {{ casting.name }}
                    </a>
                    <br />
                  }
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
      <div class="d-grid">
        <a routerLink="../full-crew" class="btn btn-primary mb-2"> See Full Crew </a>
      </div>
    } @else {
      <p>This movie has no recognizable crew</p>
    }
  }
</section>
