<section class="person">
  <ng-container *ngIf="loadingView">
    <app-loading-fullscreen message="Loading view..."></app-loading-fullscreen>
  </ng-container>
  <ng-container *ngIf="!loadingView">
    <ng-container *ngIf="loadingPerson">
      <app-loading-fullscreen message="Loading person..."></app-loading-fullscreen>
    </ng-container>
    <ng-container *ngIf="!loadingPerson">
      <ng-container *ngIf="personError">
        <ng-container *ngIf="personNotFound">
          <app-person-not-found></app-person-not-found>
        </ng-container>
        <ng-container *ngIf="!personNotFound">
          <app-person-error-fullscreen
            [errorMessage]="errorMessage"
            (reload)="reloadPerson($event)"
          >
          </app-person-error-fullscreen>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="!personError">
        <app-person-header [id]="id" [person]="person" #personHeader> </app-person-header>
        <main>
          <nav class="navbar navbar-dark bg-dark navbar-expand-sm">
            <div class="container-fluid">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link"
                     aria-current="page"
                     routerLink="overview"
                     routerLinkActive="active">
                    Overview
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="cast-credits" routerLinkActive="active">
                    Cast Credits
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="crew-credits" routerLinkActive="active">
                    Crew Credits
                  </a>
                </li>
              </ul>
            </div>
          </nav>
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </main>
      </ng-container>
    </ng-container>
  </ng-container>
</section>
