<section class="from-year-select">
  <form [formGroup]="yearsFromSelectForm">
    <div class="form-group">
      <label (click)="focusSelect()">From:</label>
      <ng-select
        #fromSelect
        formControlName="fromYear"
        [placeholder]="placeholderFrom"
        (change)="onFromYearChange($event)"
        (clear)="onClearSelect()">
        @for (year of yearsFrom; track year) {
          <ng-option [value]="year">{{ year }}</ng-option>
        }
      </ng-select>
    </div>
  </form>
</section>
