<section class="person-crew-credits">
  @if (loadingPersonMovieCredits) {
    <app-loading-inline message="Loading movie credits for this person..."></app-loading-inline>
  }
  @if (!loadingPersonMovieCredits) {
    @if (personMovieCreditsError) {
      <app-person-error [errorMessage]="errorMessage" (reload)="reloadMovieCredits($event)">
      </app-person-error>
    }
    @if (!personMovieCreditsError) {
      @if (personMovieCredits.crew.length === 0) {
        <p>This person has no technical or production roles in movies</p>
      }
      @if (personMovieCredits.crew.length > 0) {
        <app-person-movie-credits-crew [crewCredits]="personMovieCredits.crew">
        </app-person-movie-credits-crew>
      }
    }
  }
</section>
