<section class="person-crew-credits">
  @if (personMovieCreditsError) {
    <app-person-error [errorMessage]="errorMessage" (reload)="reloadMovieCredits($event)">
    </app-person-error>
  }
  @if (!personMovieCreditsError) {
    @if (personCrewCredits.length === 0) {
      <p>This person has no technical or production roles in movies</p>
    }
    @if (personCrewCredits.length > 0) {
      <app-person-movie-credits-crew [crewCredits]="personCrewCredits">
      </app-person-movie-credits-crew>
    }
  }
</section>
