.movie-result {
  cursor: pointer;
  width: 400px;
  display: flex;
  align-items: center;
  .movie-poster {
    width: 10%;
    .movie-poster-img {
      background-position: center;
      background-size: cover;
      width: 20px;
      height: 20px;
      border-radius: 5px;
      border: 1px solid rgba(204, 204, 204, 1);
    }
  }
  .movie-formatted-title {
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
