.search-movie-result {
  position: relative;
  margin-bottom: 1rem;
  

  a {
    .search-movie-poster {
      img {
        height: 350px;
      }
    }

    .search-movie-description {
      position: absolute;
      bottom: 0;
      color: white;
      background-color: rgba(0,0,0,0.75);
      width: 100%;
      padding: 1rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-family: 'Oswald', 'Arial', sans-serif;
      transition: opacity 0.1s linear;
    }

    &:hover {
      .search-movie-description {
        opacity: 0;
      }
    }
  }
}
