.upcoming {
  margin-top: 15vh;
  background-color: black;
  color: white;
  .upcoming-header {
    padding: 1rem;
  }
  .upcoming-main {
    .slide-image {
      .carousel-slide {
        width: 100%;
        height: 65vh;
        background-size: cover;
        background-position: center;
      }
    }
  }
}
