<section class="person-movie-credits">
  <ng-container *ngIf="loadingPersonMovieCredits">
    <app-loading-inline message="Loading movie credits for this person..."></app-loading-inline>
  </ng-container>
  <ng-container *ngIf="!loadingPersonMovieCredits">
    <ng-container *ngIf="personMovieCreditsError">
      <app-person-error [errorMessage]="errorMessage" (reload)="reloadMovieCredits($event)">
      </app-person-error>
    </ng-container>
    <ng-container *ngIf="!personMovieCreditsError">
      <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
        <li [ngbNavItem]="1">
          <button ngbNavLink>As Cast</button>
          <ng-template ngbNavContent>
            <ng-container *ngIf="personMovieCredits.cast.length === 0">
              <p>This person has no acting roles in movies</p>
            </ng-container>
            <ng-container *ngIf="personMovieCredits.cast.length > 0">
              <div class="row">
                <ng-container *ngFor="let castRole of personMovieCredits.cast">
                  <div class="col-12 col-lg-3">
                    <app-person-cast-credit [castRole]="castRole"> </app-person-cast-credit>
                  </div>
                </ng-container>
              </div>
            </ng-container>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <button ngbNavLink>As Crew</button>
          <ng-template ngbNavContent>
            <ng-container *ngIf="personMovieCredits.crew.length === 0">
              <p>This person has no technical or production roles in movies</p>
            </ng-container>
            <ng-container *ngIf="personMovieCredits.crew.length > 0">
              <div class="row">
                <ng-container *ngFor="let crewRole of personMovieCredits.crew">
                  <div class="col-12 col-lg-3">
                    <app-person-crew-credit [crewRole]="crewRole"> </app-person-crew-credit>
                  </div>
                </ng-container>
              </div>
            </ng-container>
          </ng-template>
        </li>
      </ul>

      <div [ngbNavOutlet]="nav" class="mt-2 my-5"></div>
    </ng-container>
  </ng-container>
</section>
