<section class="order-select">
  <form [formGroup]="orderForm">
    <div class="form-group">
      <label for="orderSelect" (click)="focusSelect()">
        Order by:
      </label>
      <ng-select #orderSelect
                 (change)="orderCriteriaChange($event)"
                 formControlName="order"
                 clearable="false">
        @for (orderCriteria of orderCriterias; track orderCriteria.id) {
          <ng-option [value]="orderCriteria.id">
            {{ orderCriteria.orderCriteriaName }}
          </ng-option>
        }
      </ng-select>
    </div>
  </form>
</section>
