<section class="order-select">
  <form [formGroup]="orderForm">
    <div class="form-group mb-3">
      <label for="orderSelect" (click)="focusSelect()">
        {{orderSelectLabel}}
      </label>
      <ng-select
        #orderSelect
        formControlName="order"
        [placeholder]="orderSelectPlaceholder"
        [items]="orderCriterias"
        bindLabel="orderCriteriaName"
        bindValue="id"
        (change)="orderCriteriaChange($event)"
        (clear)="clearOrderCriteria()">
      </ng-select>
    </div>
  </form>
</section>
