<section class="movie-cast">
  <ng-container *ngIf="loadingCast">
    <app-loading-inline message="Loading cast..."></app-loading-inline>
  </ng-container>
  <ng-container *ngIf="!loadingCast">
    <h2>Cast</h2>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th colspan="2">Actor</th>
            <th>Character</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let castMember of movieCast">
            <td>{{castMember.name}}</td>
            <td>as</td>
            <td>{{castMember.character}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
</section>

