<section class="movie-cast">
  <ng-container *ngIf="loadingCast">
    <app-loading-inline message="Loading cast..."></app-loading-inline>
  </ng-container>
  <ng-container *ngIf="!loadingCast">
    <ng-container *ngIf="movieCastError">
      <app-movie-error [errorMessage]="errorMessage" (reload)="reloadCast($event)">
      </app-movie-error>
    </ng-container>
    <ng-container *ngIf="!movieCastError">
      <h2>Cast</h2>
      <ng-container *ngIf="movieCast.length > 0">
        <app-order-select
          #orderSelectMovieCast
          [orderCriterias]="orderCriterias"
          (onOrderCriteriaChange)="orderCriteriaChange($event)">
        </app-order-select>
        <hr/>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th colspan="2">Actor</th>
                <th>Character</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let castMember of movieCast">
                <td>
                  <a [routerLink]="['/person', castMember.id]">
                    {{ castMember.name }}
                  </a>
                </td>
                <td>as</td>
                <ng-container *ngIf="castMember.character; else unknownCharacter">
                  <ng-container *ngIf="castMember.character == '(uncredited)'; else character">
                    <td>
                      <i>An uncredited character</i>
                    </td>
                  </ng-container>
                  <ng-template #character>
                    <td>{{ castMember.character }}</td>
                  </ng-template>
                </ng-container>
                <ng-template #unknownCharacter>
                  <td>
                    <i>A character not defined</i>
                  </td>
                </ng-template>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-container>
      <ng-container *ngIf="movieCast.length == 0">
        <p>This movie has no recognizable cast</p>
      </ng-container>
    </ng-container>
  </ng-container>
</section>
